<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.colorfulfog.mapper.BillResultMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.colorfulfog.model.BillResult">
    <!--@mbg.generated-->
    <!--@Table cwu_bill_result-->
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="bill_code" jdbcType="VARCHAR" property="billCode" />
    <result column="result_name" jdbcType="VARCHAR" property="resultName" />
    <result column="scheme_code" jdbcType="VARCHAR" property="schemeCode" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    result_code, `value`, bill_code, result_name, scheme_code, `type`
  </sql>
  <select id="selectByCodeAndName" resultMap="BaseResultMap">
    SELECT * FROM cwu_bill_result
    WHERE (bill_code, result_name) IN
    <foreach collection="codesAndNames" item="item" separator="," open="(" close=")">
      (#{item.billCode}, #{item.fieldName})
    </foreach>
  </select>

</mapper>