<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.colorfulfog.mapper.CollectSchemeMainMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.colorfulfog.model.CollectSchemeMain">
    <!--@mbg.generated-->
    <!--@Table cwu_collect_scheme_main-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="collect_scheme_name" jdbcType="VARCHAR" property="collectSchemeName" />
    <result column="collect_scheme_code" jdbcType="VARCHAR" property="collectSchemeCode" />
    <result column="collect_scheme_desc" jdbcType="VARCHAR" property="collectSchemeDesc" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_org" jdbcType="INTEGER" property="createOrg" />
    <result column="update_org" jdbcType="INTEGER" property="updateOrg" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, collect_scheme_name, collect_scheme_code, collect_scheme_desc, create_time, update_time, 
    update_user, create_user, create_org, update_org, is_delete, version
  </sql>
</mapper>