<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.colorfulfog.mapper.DependRuleMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.colorfulfog.model.DependRule">
    <!--@mbg.generated-->
    <!--@Table cwu_depend_rule-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="depend_code" jdbcType="VARCHAR" property="dependCode" />
    <result column="order_name" jdbcType="VARCHAR" property="orderName" />
    <result column="order_table" jdbcType="VARCHAR" property="orderTable" />
    <result column="order_field" jdbcType="VARCHAR" property="orderField" />
    <result column="order_field_name" jdbcType="VARCHAR" property="orderFieldName" />
    <result column="second_depend_code" jdbcType="VARCHAR" property="secondDependCode" />
    <result column="depend_type" jdbcType="VARCHAR" property="dependType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, depend_code, order_name, order_table, order_field, order_field_name, second_depend_code, 
    depend_type
  </sql>
</mapper>